$content_size: 750px;

// colors
$color_mtrl_blue: #2196F3;
$color_mtrl_blue_dark: #0D47A1;
$color_mtrl_blue_light: #64B5F6;

$color_mtrl_red: #f44336;

$color_mtrl_yellow: #FFEB3B;

// computer animation
$cptr_screen_base_color: $color_mtrl_blue_light;
$cptr_screen_flash_color: $color_mtrl_yellow;

$cptr_shake_angle: 10deg;

$anim_speed: 200ms;

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../img/gplaypattern_@2X.png");
    // scale down the background so it looks nice on high DPI screens
    background-size: 188px 178px;
}

.main-container {
    width: 100%;
    max-width: $content_size;
    box-sizing: border-box;
    background: #fff;
    padding: 20px 25px;
    border-radius: 5px;
}

.output {
    text-align: center;
    font-size: 22px;
    min-height: 3em;
    margin: 20px 0 40px;
    font-family: "Roboto Mono", monospace;
}

.btn-wrapper {
    text-align: center;
    box-sizing: border-box;
    margin: 20px 0;
}

.btn-main {
    box-sizing: border-box;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 7px;
    background: $color_mtrl_blue;
    border: none;
    font-size: 20px;
    outline: none;
    color: #fff;
    will-change: box-shadow, transition;
    box-shadow: 0 4px $color_mtrl_blue_dark;
    transition: transform $anim_speed ease-out, 
                box-shadow $anim_speed ease-out;

    &:active {
        transform: translateY(4px);
        box-shadow: 0 0px $color_mtrl_blue_dark;
    }

    &:focus {
        background: $color_mtrl_blue_light;
    }
}

.footer {
    $_font_size: 14px;

    padding: 10px 0;
    box-sizing: border-box;
    font-size: $_font_size;
    text-align: center;

    .link {
        color: #555;
        text-decoration: none;
        background: none;
        border: none;
        font-size: $_font_size;
        margin: 0 15px;

        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }
}

// SVG animation
.computer-wrapper {
    display: flex;
    justify-content: center;

    &.animate {
        .cptr-screen {
            animation: flash-screen 250ms linear infinite,
                        shake 200ms linear infinite;
        }
        .cptr-monitor {
            animation: shake 200ms linear infinite;
        }
        .spark-left {
            animation: spark-left 250ms linear forwards;
        }
        .spark-right {
            animation: spark-right 250ms linear forwards;
        }
        .spark-top {
            animation: spark-top 250ms linear forwards;
        }
    }
}

.cptr-base {
    fill: #999;
}

.cptr-monitor {
    fill: #999;
    transform-origin: center center;
}

.cptr-screen {
    fill: $color_mtrl_blue_light;
    transform-origin: center center;
}

.spark {
    fill: $color_mtrl_yellow;
    opacity: 0;

    &.spark-left {
        transform: rotate(20deg);
        transform-origin: center center;
    }
    &.spark-right {
        transform: rotate(-20deg);
        transform-origin: center center;
    }
    &.spark-top {
        transform: rotate(-80deg);
        transform-origin: center center;
    }
}

@keyframes spark-left {
    0% {
        transform: translate(0px, 0px) rotate(20deg);
        opacity: 1;
    }
    50% {
        transform: translate(-25px, -5px) rotate(0deg);
    }
    100% {
        transform: translate(-50px, 0px) rotate(-20deg);
        opacity: 0;
    }
}

@keyframes spark-right {
    0% {
        transform: translate(0px, 0px) rotate(-20deg);
        opacity: 1;
    }
    50% {
        transform: translate(25px, -5px) rotate(0deg);
    }
    100% {
        transform: translate(50px, 0px) rotate(20deg);
        opacity: 0;
    }
}

@keyframes spark-top {
    0% {
        transform: translate(0px, 0px) rotate(-80deg);
        opacity: 1;
    }
    100% {
        transform: translate(10px, -35px) rotate(-45deg);
        opacity: 0;
    }
}

@keyframes flash-screen {
    0% {
        fill: $cptr_screen_flash_color;
    }
    49% {
        fill: $cptr_screen_flash_color;
    }
    51% {
        fill: $cptr_screen_base_color;
    }
    98% {
        fill: $cptr_screen_base_color;
    }
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }
    33% {
        transform: rotate(#{-1 * $cptr_shake_angle});
    }
    66% {
        transform: rotate(#{$cptr_shake_angle});
    }
    100% {
        transform: rotate(0deg);
    }
}